# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Secrets & local config
.env
.aws/
.aws-sso/
# Keep .env.example as template
!.env.example

# Data (we keep it in S3)
data/
.parquet/
*.parquet
*.csv
*.xlsx

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
